*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: darkslategrey;
    width:95%;
    height: 20%;
    margin-left: 25px;
    position: fixed;
}


    
.logo{
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
    font-size: 50px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    float: left;
}
.date{
    font-family: inherit;
    font-weight: bold;
    color:aqua;
    float: left;
    margin-left: 700px;
    padding: 20px;
    
}

.main{
    float:inline-end;
    padding: 10px;
    margin: 0px;
    
    
}
ul li {
    display: inline-block;
    text-align: center;
    
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    
}
.reg{
 width: 95%;
 height: 140px;
 background-color: rgb(162, 240, 147);
 margin-left: 25px;
}
.reg h2{
    text-align: center;
    color:  rgb(48, 86, 86);;
    font-size: 35px;
}
.reg p{
    padding: 0px;
    text-align: center;
    font-size: 20px;
    font-family: inherit;
} 
    #table1{
        margin: auto;
        text-align: right;
       }
       #table2{
        margin: auto;
        text-align: left;
       }
       td{
        border-bottom: 1px solid black;
        padding: 10px;
        text-align: center;
       }
       #work{
        font-size: 30px;
        color:darkslategrey;
        text-align: center;
       }
       #right1{
        text-align:center;
        font-size: 20px;
        font-family: inherit;
        color:darkslategrey;
       }
       #right{
        text-align: center;
        color: black;
       }
       #conference
       {
        display: grid;
        grid-template-columns: auto auto;
       }
       h5{
        font-size: 20px;
        color: green;
       }
       #con1{
        margin-left: 60px;
       }